# PostgreSQL connection settings
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# Airflow admin credentials
AIRFLOW_ADMIN_USER=your_airflow_admin_username
AIRFLOW_ADMIN_FIRSTNAME=your_airflow_admin_firstname
AIRFLOW_ADMIN_LASTNAME=your_airflow_admin_lastname
AIRFLOW_ADMIN_EMAIL=your_airflow_admin_email
AIRFLOW_ADMIN_PASSWORD=your_airflow_admin_password
